# Environment & Secret variables
.env
.env.local
.env.*
!.env.example

# Dependencies
node_modules/

# Production build output
dist/
dist-ssr/

# Netlify local files
.netlify/

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Editor & OS files
.DS_Store
Thumbs.db
.vscode/*
!.vscode/extensions.json
.idea

